<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="codedonortest" value="https://nuget.pkg.github.com/codedonor-new/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="scodedonor" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>